  .form-group textarea {
    max-width: 100%;
    min-width: 100%;
  }

#review_text {
    min-height: 200px;
    max-height: 500px;
}

.star-rating {
  display: flex;
  cursor: pointer;
}

.star {
  font-size: 24px; /* Size of the stars */
  color: lightgray; /* Default star color */
  margin-right: 5px; /* Space between stars */
}

.star.filled {
  color: gold; /* Color for filled stars */
}