nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
  }
  
  .nav-logo-container {
    font-family: 'Reem Kufi', sans-serif;
    color: #9747FF;
    font-size: 2rem;
    font-weight: bolder;
  }
  
  .navbar-menu-container {
    display: none;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .navbar-links-container a:not(.no-hover)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #9747FF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .navbar-links-container a:not(.no-hover):hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .primary-button:hover {
    background-color: rgb(234, 234, 234);
  }

  #login-button {
    margin-right: 1rem;
  }

  #signup-button {
    margin-right: 0;
  }
